<footer>
  <div class="footer">
    <div>
      <img src="../view/images/logo_Elan.png" alt="image logo Elan">
    </div>

    <div>
      <h2>Recevez les dernières actus</h2>
      <form action="newsletter.ctrl.php" method="post" id="newsletterfooter">
        <label for="NewsLetter">Votre adresse e-mail<span class="etoiles_obligatoire">*</span></label>
        <input type="email" id="NewsLetter" name="NewsLetter_Email" placeholder="Votre adresse email" required>
        <span>
          <input id="NewsLetter_Clause" type="checkbox" name="NewsLetter_Accept" required />
          <label id="labelspanfooter" for="NewsLetter_Clause">J'accepte <a target="_blank" href="../view/documents/Politique_de_confidentialite.pdf">la politique de confidentialité</a></label>
        </span>
        <button type="submit" form="newsletterfooter" class="btn mt-3">Je m'abonne</button>
      </form>
    </div>
  </div>

  <div class="rs">
    <ul>
      <li><a target="_blank" href="https://www.facebook.com/relationelle"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
      <li><a target="_blank" href="https://www.google.com/maps/place/Relation'Elle/@45.4417941,2.3811301,7z/data=!4m8!1m2!2m1!1svirginie+orsi!3m4!1s0x478a895537c0e153:0x8869dabb7acc3da8!8m2!3d45.459893!4d4.624224"><i class="fab fa-google" aria-hidden="true"></i></a></li>
      <li><a target="_blank" href="https://www.linkedin.com/in/virginie-orsi/"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
    </ul>
  </div>

  <div class="footerbas">
    <ul>
      <li><a>© 2022 Relation’Elle – Tous droits réservés</a></li>
    </ul>
    <ul>
    <li><a target="_blank" href="https://relationelle.fr/mentions-legales/">Mentions Légales et CG (Relation'elle)</a></li>
    <li><a href="./contact.ctrl.php">Contact (+33 6 10 78 84 86)</a></li>
    <li><a target="_blank" href="../view/documents/Politique_de_confidentialite.pdf">Politique de confidentialité (Relation'elle)</a></li>
    </ul>
  </div>

</footer>
